<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">age</th>
            <th scope="col">location</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>

            <tr *ngFor="let p of players">
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.numberPlayer }}</td>
                <td>{{ p.age }}</td>
                <td>{{ p.position }}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="goToDisplay()">Display</button>
                    <button type="button" class="btn btn-secondary"(click)="editPlayer(p.id)">edit</button>
                    <button type="button" class="btn btn-danger" (click)="deletePlayer(p.id)">Delete</button>
                </td>

            </tr>

    </tbody>
</table>